*.pyc
.RootCoreBin
Batch/log/
Batch/*.txt
BoostedJetTaggers/
JetCalibTools/
JetJvtEfficiency
JetMatchingTools/
JetUncertainties/
NNTaggingTools/
BDTWTopTagger/
RootCoreBin/
ShowerDeconstruction/
TopAnalysis/
TopCPTools/
TopConfiguration/
TopDataPreparation/
TopEvent
TopEventSelectionTools
TopObjectSelectionTools
TopSystematicObjectMaker
cleanup.sh
grid/sample_weights.txt
grid/sample_weights_AnalysisTopFormat.txt
grid/top-xaod.tar.gz
local_test/
plotting/raw/
rcSetup.csh
rcSetup.sh
tags
tags.lock
tags.temp
JetAnalysisInterfaces/
*.DS_Store
run/
.gz
MuonEfficiencyCorrections/
